import React from 'react';

interface {{name}}Props {
  // Add your props here
}

export const {{name}}: React.FC<{{name}}Props> = () => {
  return (
    <div>
      <h1>{{name}} Component</h1>
    </div>
  );
};

export default {{name}};